[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
crispy-bootstrap4 = "*"
django-crispy-forms = "*"
crispy-bootstrap5 = "*"
pillow = "*"
psycopg = "*"
psycopg2-binary = "*"
psycopg2 = "*"
python-decouple = "*"

[dev-packages]

[requires]
python_version = "3.12"
